@import url(reset.css);
@import url(config.css);

*{
  font-size: var(--fs-default);
}

body{
  font-family: var(--ff-default);
  display: grid;
  place-items: center;
}

.homepage{
  max-width: 375px;
}

.logo{
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo img{
  width: 40px;
}

header{
  height: 100vh;
  border: 1px solid red;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}

menu{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

menu li{
  list-style: none;
}

menu a{
  text-decoration: none;
  color: var(--clr-neutral-very-dark-blue);
  font-weight: var(--fw-bold);
}
